$font: 'Droid Serif', serif; 
$fontSize: 12px;
$headerSize: 4vw;
$headerFont: 'Raleway', sans-serif;
$background: #2D2D30;
$backgroundDark: darken($background, 5%); 
$backgroundDark2: darken($background, 10%); 
$color1: white;
$color2b: #0090DC; //#3570BE;
$color2: #8AC9EF;
$color3: #8AEFD6;
$color4: #A25AAF; 

$lg: 9999px;
$md: 1170px;
$sm: 970px;
$xs: 750px;
$xxs: 400px;

$space: 2vw;
$spaceHalf: $space/2;
$spaceThird: $space/3;
$space2: $space*2;
$space3: $space*3;
$space4: $space*4;

.color1 {
    color: $color1;
}
.color2 {
    color: $color2;
}
.color3 {
    color: $color3;
}
.color4 {
    color: $color4;
} 
.space { margin-top: $space; }
.spaceHalf { margin-top: $spaceHalf; }
.spaceThird { margin-top: $spaceThird; }
.space2 { margin-top: $space2; }
.space3 { margin-top: $space3; }
.space4 { margin-top: $space4; }

