<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link href="favicon.png" rel="shortcut icon" type="image/png" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,800|Droid+Serif' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="lib/es6-shim.min.js"></script>
    <script src="lib/system-polyfills.js"></script>
    <script src="lib/shims_for_IE.js"></script>

    <script src="lib/angular2-polyfills.js"></script>
    <script src="lib/system.src.js"></script>
    <script src="lib/Rx.js"></script>
    <script src="lib/angular2.dev.js"></script>
    <script src="lib/router.js"></script>
    <script src="lib/http.js"></script>
    <!--<script src="lib/lodash.js"></script>-->

    <!-- 2. Configure SystemJS -->
    <script>
        System.config({
            packages: {
                app: {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('app/main')
              .then(null, console.error.bind(console));
    </script>
</head>

<!-- 3. Display the application -->
<body>
    <dashboard>Loading...</dashboard>
</body>
</html>